*{
    margin: 0;
}
.nav1{
    background-color: bisque;
    height: 25px;
    width: 100%;
    margin-top: 0%;
    padding-top: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav2{
    background-color: black;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 2fr;
}

.b ul{
    list-style-type: none;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 25px;
    
}
.c{
    position: absolute;
    padding-left: 1200px;
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.c1{
    position: relative;
    color: white;
    padding-left: 45px;
    padding-top: 50px;


    
}
.d{
    background-image: url(../images/bgim\ main.jpeg);
   background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    
    
    padding-left: 300px;
    padding-top: 200px;
    justify-content: center;
    align-items: center;
    

   
    
} 
.d4 .d5{
color: gray;
}

.e{
    display: flex;
    justify-content: space-evenly;
}

#img1{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#img2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#img3{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#img4{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#img5{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#img6{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
#img7{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#img8{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.sub1{
    text-align: center;
}





#im1{
    height: 300px;
    width: 300px;

}
#im2{
    height: 300px;
    width: 300px;

}
#im3{
    height: 300px;
    width: 300px;

}
#im4{
    height: 300px;
    width: 300px;

}


.f{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr;
    justify-content: space-evenly;
}
.f-sub{
    display: grid;
    grid-template-columns: 2fr 2fr;
    

}
#im5{
    height: 300px;
    width: 300px;

}
#im6{
    height: 300px;
    width: 300px;

}

.g{
    display: flex;
    justify-content:center ;
}
#but3{
    height: 50px;
    width: 200px;
    text-size-adjust: 700;
}


